header {
  /* header primary */
  .header-primary {
    .icon-bar {
      width: 26px;
      height: 3px;
      @include border-radius(50px);
      background-color: $dark-grey-color-shade;
      display: block;
      transition: all 0.4s;
      margin-top: 4px;
    }
    .navbar-toggler {
      border: none;
      background: transparent !important;

      .top-bar {
        transform: rotate(45deg);
        transform-origin: 10% 10%;
      }
      .middle-bar {
        opacity: 0;
      }
      .bottom-bar {
        transform: rotate(-45deg);
        transform-origin: 10% 90%;
      }
      &.collapsed {
        .top-bar {
          transform: rotate(0);
        }
        .middle-bar {
          opacity: 1;
        }
        .bottom-bar {
          transform: rotate(0);
        }
      }
    }

    .how-it-works-icon {
      @include border-radius(5px);
       background: $brand-color;
      box-shadow: 0 2px 10px 0 rgba($brand-color, 0.8);
      @include padding(5px, 8px, 8px, 8px);
      display: block;
      position: absolute;
      left: 20px;
      z-index: 99;
      top: 15px;

      &:hover{
        background: $brand-second-color;
        box-shadow: 0 2px 10px 0 rgba($brand-second-color, 0.8);
      }

      .icon-bar {
        width: 20px;
        height: 2px;
        @include border-radius(50px);
        background-color: $white-color;
        display: block;
      }
      .middle-bar {
        width: 17px;
      }
      .bottom-bar {
        width: 15px;
      }
    }

    nav {
      &.navbar {
        background: $white-color;
        @include border-radius(0);
        @include padding(0, 60px, 0, 80px);

        @include breakpoint(sm) {
          @include padding(16px, 15px, 16px, 15px);
          border-bottom: 1px solid #ddd;
        }
        @include breakpoint(md) {
          @include padding(16px, 15px, 16px, 15px);
          border-bottom: 1px solid #ddd;
        }

        li {
          &.nav-item {
            @include padding(20px, 10px, 20px, 10px);
            @include breakpoint(sm) {
              @include padding(15px, 0, 0, 15px);
            }
            @include breakpoint(md) {
              @include padding(15px, 0, 0, 15px);
            }
          }
        }

        .logo {
          color: $black-color !important;
          font-size: 22px;

          
          @include breakpoint(sm) {
            @include margin(0, 0, 0, 60px);
          }
        }
        .tokens {
          color: $brand-second-color;
          font-size: 14px;
          @include margin(0, 0, 0, 30px);

          @include breakpoint(sm) {
            display: none;
          }
        }
        .days-left {
          color: $light-grey-color;
          font-size: 14px;
          @include margin(0, 0, 0, 30px);

          @include breakpoint(sm) {
            display: none;
          }
        }

        a {
          color: $light-grey-color !important;

          &:hover {
            color: $brand-color;
          }
          &.nav-link {
            text-transform: uppercase;
            font-size: 15px;
            padding: 0 !important;
            color: $light-grey-color !important;
            position: relative;

            &:after {
              content: "";
              position: absolute;
              width: 100%;
              height: 3px;
              top: -20px;
              left: 0;
              background-color: $brand-color;
              transform: scaleX(0);
              transform-origin: bottom center;
              transition: transform 0.4s;
              @include breakpoint(sm) {
                bottom: -5px;
              }
              @include breakpoint(md) {
                bottom: -5px;
              }

              @include breakpoint(sm) {
                background-color: none !important;
                height: 0;
              }
            }
            &:hover {
              color: $brand-color !important;
              &:after {
                transform-origin: bottom center;
                transform: scaleX(1);
              }
            }
            &.active {
              color: $brand-color !important;
              &:after {
                transform-origin: bottom center;
                transform: scaleX(1);
              }
            }
          }
        }
        ul {
          &.navbar-nav {
            margin-left: 6%;
            @include breakpoint(sm) {
              @include padding(25px, 0, 25px, 0);
              margin-left: auto !important;
            }
            @include breakpoint(md) {
              margin-left: auto !important;
            }
          }
        }

        @include breakpoint(sm) {
          .navbar-toggler {
            margin-left: auto;
            &:hover {
              background: $brand-color;
            }
          }
        }
        @include breakpoint(md) {
          .navbar-toggler {
            margin-left: auto;
            &:hover {
              background: $brand-color;
            }
          }
        }
      }

      .header-badge {
        background: $white-color;
        border: 1px solid #d7ddde;
        @include border-radius(3px);
        @include padding(5px, 5px, 5px, 5px);
        @include margin(0, 0, 0, 0);
        height: 33px;
        display: flex;
        align-items: center;
        @include breakpoint(sm) {
          @include margin(0, 0, 0, 0);
        }

        .text {
          font-size: 15px;
          color: $black-color;
          @include margin(0, 8px, 0, 8px);
        }
        .icon-01 {
          color: $brand-second-color;
        }
        .icon-02 {
          color: $brand-color;
          @include margin(8px, 0, 0, 0);
        }
      }

      .total-coins {
        background: $white-color;
        border: 1px solid #d7ddde;
        @include border-radius(3px);
        line-height: 1;
        @include margin(0, 10px, 0, 10px);
        @include padding(8px, 8px, 8px, 35px);
        font-size: 15px;
        color: $black-color;
        height: 33px;
        position: relative;

        &:before {
          @include border-radius(50%);
          position: absolute;
          width: 20px;
          height: 20px;
          background: $brand-second-color;
          left: 5px;
          color: $dark-grey-color;
          content: "";
          top: 6px;
        }
      }

      .user-dropdown {
        @include breakpoint(sm) {
          @include margin(30px, 0, 0, 0);
        }
        .user-thumb {
          color: $white-color;
          background: $brand-color;
          border: 2px solid $white-color;
          @include border-radius(50%) height: 35px;
          width: 35px;
          line-height: 35px;
          font-size: 12px;
          text-align: center;
          display: inline-block;
          font-weight: 700;
          box-shadow: 0 1px 10px 0 rgba($brand-color, 0.7);
        }

        .dropdown-toggle {
          color: $black-color !important;
          font-size: 18px;
        }
        .dropdown-menu {
          @include margin(0, -25px, 0, 0);
          right: 0;
          left: initial;
        }
        &.dropdown {
          .dropdown-toggle {
            &:after {
              content: "\f107";
              font-family: "FontAwesome";
              position: absolute;
              @include margin(-1px, 0, 0, 15px);
              border: 0;
              color: $brand-color;
              font-size: 26px;
              right: -15px;
              top: 0;
            }
          }
        }
        &.show {
          .dropdown-toggle {
            &:after {
              content: "\f105";
            }
          }
        }
      }
    }
  }
}
