.country-choice {
  @include margin(50px, 0, 0, 50px);

  @include breakpoint(sm) {
    @include margin(50px, 0, 0, 0);
  }
  .form-control{
    background: none;
    border: 0;
    border-bottom: 1px solid #d1d6dc;
    @include border-radius(0);
    height: 45px;
    box-shadow: none;
    @include padding(0, 0, 0, 0);
    font-weight: bold;
    &:focus{
      border-bottom: 1px solid $brand-color;
    }
  }

  .nav-tabs {
    border: 0;
    @include margin(0, 0, 30px, 0);

    @include breakpoint(sm) {
      @include margin(0, 0, 0, 30px);
    }

    .nav-item {
      @include margin(0, 10px, 10px, 0);
    }
    .nav-link {
      text-transform: capitalize;
      border: 1px solid #d6dcdd;
      @include border-radius(7px) color: $dark-grey-color;
      font-size: 15px;
      position: relative;
      @include padding(15px, 40px, 15px, 15px);
      display: flex;
      align-items: center;

      img {
        width: 24px;
        height: 24px;
        @include border-radius(50%);
        @include margin(0, 10px, 0, 0);
      }

      &:before {
        border: 1px solid #d6dcdd;
        @include border-radius(50%);
        width: 12px;
        height: 12px;
        position: absolute;
        right: 10px;
        top: 21px;
        content: "";
      }

      &.active {
        border: 2px solid $brand-color;
        color: $dark-grey-color;
        @include card-shadow;

        &:before {
          border: 1px solid $white-color;
          background: $brand-color;
          box-shadow: 0px 0px 0px 1px $brand-color;
        }
      }
    }
  }

  .custom-dropdown-list {
    @include margin(0, 30px, 0, 0);

    @include breakpoint(sm) {
      @include margin(0, 30px, 40px, 30px);
    }
  }
  .form-group {

    @include breakpoint(sm) {
      @include margin(0, 30px, 20px, 30px);
    }
  }

  .tab-content {
    ul {
      li {
        @include padding(15px, 20px, 15px, 20px);

        &.white-row {
          background: $white-color;
        }

        &.live-exact-score {
          border: 2px solid $brand-second-color;
        }
        &.live-win {
          border: 2px solid $brand-color;
        }
        &.live-lose {
          border: 2px solid #b21111;
        }

        &.finished-exact-score {
          border: 2px solid $brand-second-color;

          .score {
            span {
              &.grey {
                color: $brand-second-color !important;
              }
            }
          }
        }
        &.finished-win {
          border: 2px solid $brand-color;
          .score {
            span {
              &.grey {
                color: $brand-color !important;
              }
            }
          }
        }
        &.finished-lose {
          border: 2px solid #b21111;
          .score {
            span {
              &.grey {
                color: #b21111 !important;
              }
            }
          }
        }

        &.active {
          background: $brand-color;
          .live {
            color: $white-color;
            &:before {
              background: $white-color;
            }
          }
          .total-time {
            color: $white-color;
          }
          .max-text {
            color: $white-color;
            small {
              color: $white-color;
            }
          }
          .team-thumb {
            span {
              color: $white-color;
            }
          }
          .score {
            span {
              color: $white-color !important;
            }
          }
        }
        .live {
          color: #b21111;
          text-transform: uppercase;
          font-size: 15px;
          position: relative;
          @include padding(0, 0, 0, 16px);
          @include margin(0, 50px, 0, 0);

          &:before {
            @include border-radius(50%);
            position: absolute;
            width: 6px;
            height: 6px;
            background: #b21111;
            left: 3px;
            content: "";
            top: 8px;
          }
        }
        .finished {
          color: #b21111;
          text-transform: uppercase;
          font-size: 15px;
          @include padding(0, 0, 0, 0);
          @include margin(0, 50px, 0, 0);
        }

        .total-time {
          color: #b21111;
          text-transform: uppercase;
          font-size: 16px;
          text-align: center;
        }

        .team-thumb {
          display: flex;
          align-items: center;
          height: 24px;
          figure {
            overflow: hidden;
            width: 24px;
            height: 24px;
            @include margin(0, 15px, 0, 0);
            display: flex;
            align-items: center;
          }
          span {
            font-size: 15px;
            color: $black-color;
            font-weight: 700;
          }
        }

        .score-outer {
          @include margin(0, 50px, 0, 50px);
          display: flex;
          .score {
            span {
              font-size: 17px;
              &.black {
                color: $black-color;
                display: block;
                font-weight: bold;
              }
              &.grey {
                color: $light-grey-color;
              }
            }
          }
          .separator {
            color: $black-color;
            display: inline-block;
            font-weight: 700;
            @include margin(0, 5px, 0, 5px);
          }
        }

        .max-text {
          font-size: 16px;
          color: $black-color;
          text-align: right;
          small {
            font-size: 11px;
            color: $light-grey-color;
          }
        }
      }
    }
  }
}

.right-cols {
  background: $white-color;
  height: 100%;
  box-shadow: 0 1px 10px 0 rgba($black-color, 0.2);
  display: flex;
  flex-direction: column;

  .live-match-card {
    background: #f2f2f2;
    @include padding(20px, 20px, 0, 20px);
    box-shadow: 0 1px 10px 0 rgba($black-color, 0.1);

    header {
      @include margin(0, 0, 20px, 0);
      .max-text {
        font-size: 16px;
        color: $black-color;
        align-items: center;
        display: flex;

        img {
          width: 20px;
          height: 20px;
          @include border-radius(50%);
          @include margin(0, 5px, 0, 0);
        }
        small {
          font-size: 11px;
          color: $light-grey-color;
        }
      }
      .total-time {
        color: #b21111;
        text-transform: uppercase;
        font-size: 16px;
        text-align: center;
      }

      .live {
        color: #b21111;
        text-transform: uppercase;
        font-size: 15px;
        position: relative;
        @include padding(0, 0, 0, 16px);

        &:before {
          @include border-radius(50%);
          position: absolute;
          width: 6px;
          height: 6px;
          background: #b21111;
          left: 3px;
          content: "";
          top: 8px;
        }
      }

      .finished {
        color: #b21111;
        text-transform: uppercase;
        font-size: 13px;
      }
    }

    .scoring-card {
      @include padding(20px, 20px, 20px, 20px);

      .team-logo-holder {
        overflow: hidden;
        height: 60px;
        width: 60px;
        @include padding(10px, 10px, 10px, 10px);
        margin: auto;
      }
      .team-name {
        text-align: center;
        font-size: 12px;
        display: block;
        color: $black-color;
      }

      .result_match {
        color: $black-color;
        text-align: center;
        font-size: 65px;
        display: flex;
        justify-content: center;
        @include margin(0, 0, 40px, 0);

        .divisor {
          @include margin(0, 20px, 0, 20px);
        }

        span {
          display: inline-block;
          small {
            color: $light-grey-color;
            font-size: 22px;
            display: block;
          }
        }
      }

      .win-draw-ratio {
        span {
          text-align: center;
          display: block;
          color: $light-grey-color;
          text-transform: uppercase;
          font-size: 11px;
        }
        .draw {
          position: relative;
          &::before {
            position: absolute;
            content: "";
            bottom: -20px;
            left: 50%;
            width: 1px;
            height: 10px;
            background: $light-grey-color;
          }
        }
        .win {
          position: relative;
          &::before {
            position: absolute;
            content: "";
            bottom: -20px;
            left: 50%;
            width: 1px;
            height: 10px;
            background: $light-grey-color;
          }
        }
      }
    }
    .scoring-card-footer {
      @include padding(10px, 20px, 10px, 20px);

      .number {
        @include margin(10px, 0, 0, 0);
        span {
          i {
            color: $brand-color;

            &:hover {
              color: $dark-grey-color;
            }
          }
        }

        .minus,
        .plus {
          cursor: pointer;
        }
        input {
          width: 50px;
          text-align: center;
          font-size: 18px;
        }
        .no-of-token {
          display: block;
          font-size: 10px;
          color: $light-grey-color;
        }
      }

      .flash-icon {
        text-align: right;
        display: block;
        i {
          color: $brand-second-color;
        }
      }
    }
  }

  .scoring-update {
    @include margin(50px, 0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .goal {
      border: 2px solid $light-grey-color;
      @include border-radius(5px);
      @include padding(5px, 15px, 5px, 35px);
      @include margin(0, 0, 15px, 0);
      display: inline;
      position: relative;

      &:before {
        position: absolute;
        height: 19px;
        width: 13px;
        content: "\f1e3";
        font-family: FontAwesome;
        left: 10px;
        top: 5px;
      }


      .player-name {
        color: $light-grey-color;
      }
      .score-time {
        color: $black-color;
      }
    }
    .red-card {
      border: 2px solid $light-grey-color;
      @include border-radius(5px);
      @include padding(5px, 15px, 5px, 30px);
      display: inline;
      position: relative;
      @include margin(0, 0, 15px, 0);

      &:before {
        position: absolute;
        background: #b21010;
        height: 19px;
        width: 13px;
        content: "";
        left: 10px;
        top: 6px;
      }

      .player-name {
        color: $light-grey-color;
      }
      .score-time {
        color: $black-color;
      }
    }
    .yellow-card {
      border: 2px solid $light-grey-color;
      @include border-radius(5px);
      @include padding(5px, 15px, 5px, 30px);
      display: inline;
      position: relative;
      @include margin(0, 0, 15px, 0);

      &:before {
        position: absolute;
        background: $brand-second-color;
        height: 19px;
        width: 13px;
        content: "";
        left: 10px;
        top: 6px;
      }

      .player-name {
        color: $light-grey-color;
      }
      .score-time {
        color: $black-color;
      }
    }
  }
}
